@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/poppins');

:root {
	--border: #151515;
	--card-bg: #060607;

	--clr-orange-50: #fff7ed;
	--clr-orange-100: #ffedd5;
	--clr-orange-200: #fed7aa;
	--clr-orange-300: #fdba74;
	--clr-orange-400: #fb923c;
	--clr-orange-500: #f97316;
	--clr-orange-600: #ea580c;
	--clr-orange-700: #c2410c;
	--clr-orange-800: #9a3412;
	--clr-orange-900: #7c2d12;
	--clr-orange-950: #431407;

	--clr-green-50: #f0fdf4;
	--clr-green-100: #dcfce7;
	--clr-green-200: #bbf7d0;
	--clr-green-300: #86efac;
	--clr-green-400: #4ade80;
	--clr-green-500: #22c55e;
	--clr-green-600: #16a34a;
	--clr-green-700: #15803d;
	--clr-green-800: #166534;
	--clr-green-900: #14532d;
	--clr-green-950: #052e16;

	--clr-blue-50: #eff6ff;
	--clr-blue-100: #dbeafe;
	--clr-blue-200: #bfdbfe;
	--clr-blue-300: #93c5fd;
	--clr-blue-400: #60a5fa;
	--clr-blue-500: #3b82f6;
	--clr-blue-600: #2563eb;
	--clr-blue-700: #1d4ed8;
	--clr-blue-800: #1e40af;
	--clr-blue-900: #1e3a8a;
	--clr-blue-950: #172554;

	--clr-neutral-50: #fafafa;
	--clr-neutral-100: #f5f5f5;
	--clr-neutral-200: #e5e5e5;
	--clr-neutral-300: #d4d4d4;
	--clr-neutral-400: #a3a3a3;
	--clr-neutral-500: #737373;
	--clr-neutral-600: #525252;
	--clr-neutral-700: #404040;
	--clr-neutral-800: #262626;
	--clr-neutral-900: #171717;
	--clr-neutral-950: #0a0a0a;
}

* {
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Unbounded', sans-serif;
	text-transform: uppercase;
}

body {
	padding: 0;
	margin: 0;
	background: #000;
	color: #fff;
}

img {
	display: block;
	max-width: 100%;
	font-style: italic;
}

.main {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	max-width: 1440px;
	margin-inline: auto;
}

.card {
	border: 1px solid var(--border);
	background: var(--card-bg);
	border-radius: 2rem;
	position: relative;
	overflow: hidden;
	z-index: 0;
}

.hero {
	text-align: center;
	padding: 10rem 2rem;
	background: var(--card-bg);
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center;

	.heroTitle h1 {
		font-size: 3.5rem;
		font-weight: 800;
		cursor: default;
		position: relative;
	}

	& .orangeBlob {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}


.header {
	position: absolute;
	top: 2rem;
	left: 0;
	display: flex;
	justify-content: space-between;
	width: calc(100% - 4rem);
	transform: translateX(2rem);

	.name {
		display: flex;
		font-size: 1.5rem;
		position: relative;
		font-weight: 600;
		letter-spacing: 1px;

		&::before {
			position: absolute;
			content: '.';
			color: var(--clr-orange-500);
			left: calc(100% + 5px);
			font-size: 2.5rem;
			top: -16px;
		}
	}

	.links ul {
		list-style: none;
		display: flex;
		gap: 1rem;
		padding: 0;
		margin: 0;

		&:hover a {
			color: var(--clr-neutral-400);
		}

		a {
			transition: .2s ease all;
			text-decoration: none;
			display: flex;
			align-items: center;
			gap: .5rem;
			color: #fff;

			&:hover {
				color: var(--clr-blue-500);
			}
		}
	}
}

/* other section */

.other {
	display: grid;
	grid-template-columns: 1.25fr 2.5fr 1fr;
	gap: 1rem;
	& .left {
		display: grid;
		grid-template-rows: 3fr 2fr;
		gap: 1rem;
	}
}

.photo {
	overflow: hidden;
	& img {
		height: 100%;
		aspect-ratio: 1;
		object-fit: cover;
		object-position: center;
	}
}

.socials {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	& p {
		font-weight: 600;
		color: var(--clr-neutral-400);
	}
}

.socialsLinks {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: .5rem;
}

/* showcase section */

.quote {
	color: #fff;
	position: relative;
	padding: 2rem;
}

.quoteContent {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	& .greenBlob {
		left: 50%;
		transform: translateX(-50%);
		top: 21%;
	}
}

.quoteCard {
	padding-block: 2rem;
	border-block: 1px solid var(--clr-neutral-500);
	position: relative;
	max-width: 600px;
	
	* {
		margin: 0;
	}

	& p:nth-child(1) {
		font-size: 1.5rem;
		font-weight: 600;
		margin-bottom: .75rem;
		font-family: 'Unbounded';

	}

	& .author {
		font-size: 1.25rem;
		font-style: italic;
	}

	& i.fa-quote-left {
		position: absolute;
		top: 0;
		font-size: 5rem;
		opacity: 0.3;
		z-index: -1;
	}

	& i.fa-quote-right {
		position: absolute;
		bottom: 0;
		right: 0;
		font-size: 5rem;
		opacity: 0.3;
		z-index: -1;
	}
}

/* projects */

.projects {
	padding: 2rem;
}

.project {
	text-decoration: none;
	color: #fff;
	width: 100%;
	text-align: center;
	height: 500px;
	display: grid;
	place-items: center;
	font-size: 3.5rem;
	font-weight: 700;
	position: relative;
	overflow: hidden;
	border-radius: 1rem;
	user-select: none;
	transition: .3s ease-out;
	cursor: pointer;

	&::before {
		content: url(img/floppa.jpg);
		position: absolute;
		width: inherit;
		height: inherit;
		object-fit: cover;
		z-index: -1;
		transform: translate(-100%, -50%);
		opacity: 0.5;
	}

	&:hover {
		box-shadow: 0 0 0 2px var(--clr-orange-200),
		0 0 0 4px var(--clr-orange-500);
	}
}

/* blob */

.orangeBlob {
	content: '';
	position: absolute;
	background: radial-gradient(circle, hsl(from var(--clr-orange-500) h s l / .35) 0%, transparent 50%);
	filter: blur(100px);
	width: 1000px;
	aspect-ratio: 1;
	z-index: -2;
}

.greenBlob {
	content: '';
	position: absolute;
	background: radial-gradient(circle, hsl(from var(--clr-green-500) h s l / .35) 0%, transparent 50%);
	filter: blur(100px);
	width: 1000px;
	aspect-ratio: 1;
	z-index: -2;
}

/* buttons */

.sexyBtn {
	background: none;
	outline: none;
	border: none;
	cursor: pointer;

	display: flex;
	text-decoration: none;
	align-items: center;
	justify-content: center;
	width: 70px;

	border-radius: 100vw;
	font-size: 1.5rem;
	color: var(--clr-neutral-400);
	padding: .5rem 1.5rem;
	background: #0a0a0d;
	border: 1px solid transparent;
	position: relative;
	background-clip: padding-box;
	transition: .2s ease all;

	&:hover {
		color: #fff;
		&:before {
			filter:brightness(1.4);
		}
	}

	&:before {
		transition: .2s ease all;
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: -1px;
		z-index: -1;
		border-radius: inherit;
		background: linear-gradient(120deg, var(--clr-neutral-500), var(--clr-neutral-950));
	}
}

.label {
	display: flex;
	text-decoration: none;
	align-items: center;
	justify-content: center;
	width: 180px;
	text-align: center;
	cursor: default;
	user-select: none;

	border-radius: 100vw;
	font-size: 0.9rem;
	font-weight: 600;
	color: #fff;
	line-height: 1.25;
	padding: 1rem;
	background: linear-gradient(120deg, #000, #252723, #232422);
	border: 1px solid transparent;
	position: relative;
	background-clip: padding-box;
	transition: .2s ease all;

	& .laurel::before {
		position: absolute;
		content: url(img/laurel.svg);
		transform: translateY(-50%) scale(0.75);
		left: 1.5rem;
		top: 50%;
	}

	& .laurel::after {
		position: absolute;
		content: url(img/laurel.svg);
		transform: scaleX(-1) translateY(-50%) scale(0.75);
		right: 1.5rem;
		top: 50%;
	}

	&::before {
		transition: .2s ease all;
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: -1px;
		z-index: -1;
		border-radius: inherit;
		background: linear-gradient(120deg, #484848, #232422);
	}
}

.marquee {
	white-space: nowrap;
	font-size: 1.5rem;
	margin-bottom: 2rem;
	position: relative;
	transform: translateX(-2rem);
	width: calc(100% + 4rem);
	user-select: none;

	& * {
		display: inline-block;
	}

	&::before {
		position: absolute;
		content: '';
		left: 0;
		top: 0;
		width: 250px;
		height: 100%;
		background: linear-gradient(90deg, var(--card-bg), transparent);
		z-index: 10;
	}

	&::after {
		position: absolute;
		content: '';
		right: 0;
		top: 0;
		width: 250px;
		height: 100%;
		background: linear-gradient(90deg, transparent, var(--card-bg));
		z-index: 10;
	}

	& h1 {
		display: inline-block;
		margin-inline: 4rem;
		
		&:before {
			content: "\f753";
			position: absolute;
			font-family: "Font Awesome 6 Free";
			transform: translate(calc(-100% - 3rem), 10%)
		}
	};
}

.marqueeSlide {
	animation: 20s slide infinite linear;
}

@keyframes slide {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(-100%);
	}
}

@media screen and (max-width: 1190px) {

	.other {
		grid-template-columns: 1fr 1fr;

		& :nth-child(3) {
			grid-column: 1 / 3;
		}
	}	
}

@media screen and (max-width: 800px) {
	.other {
		display: flex;
		flex-direction: column;
	}	
}